#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  background: #f8f9fa;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
  z-index: 1;
}

.navbar {
  background: #ffffff;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}

.card {
  background: #ffffff;
  border: 0;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
  border-radius: 1rem;
}

.table-responsive {
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
}

.btn-primary {
  background: #cb0c9f;
  border-color: #cb0c9f;
}

.btn-primary:hover {
  background: #ad0a87;
  border-color: #ad0a87;
}
